services:
  postgres:
    image: postgres:18
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"

  redis:
    image: 'redis/redis-stack:7.2.0-v18'
    labels:
      - "org.springframework.boot.service-connection=redis"
    ports:
      - '6379:6379'